.main h1{
  text-align: center;
}

.main > div{
  width: 100%;
  margin: 1em;
  padding: 1em;
  background-color: #2c2c2c;
  border-radius: 4px;
}

.button{
  border: 1px solid #818181;
  margin: .5em;
  padding-left: 1em;
  cursor: pointer;
} 

.button input{
  display: none;
}

button, .button {
  display: inline-flex;
  -moz-box-align: center;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
  line-height: 1;
  padding: 8px 16px;
  vertical-align: middle;
  cursor: pointer;
  border: medium none;
  height: 32px;
  border-radius: 2px;
  background: rgba(0, 0, 0, 0) linear-gradient(#3f84ac, #38779b) repeat scroll 0% 0%;
  color: rgb(255, 255, 255);
  text-shadow: rgba(0, 0, 0, 0.1) 0px -1px;
}

button:hover, .button:hover {
  background: #3f84ac none repeat scroll 0% 0%;
  color: rgb(255, 255, 255);
}

select{
  border: none;
  border-radius: 4px;
}
